// Form Group
// -------------------------

.form-group {

	input, .btn {
		border: none;
		padding: 0 rem(20);
		height: rem(46);
		font-family: $font-body;
		border-radius: rem(5);
		outline: none;
		@include appearance(none);
	}

	// Input Fields
	input {
		font-size: rem(14);
		width: 100%;
		background-color: rgba($white, 0.3);
		outline-offset: 0;
		letter-spacing: rem(0.5);
		color: $black;
		@include placeholder($lightgray);
		@include transition(background-color $speed/2 ease);
		&:focus {
			background-color: rgba($white, 0.8);
			@include placeholder(transparent);
		}
	}

	// Buttons
	.btn {
		font-family: $font-heading;
		text-transform: uppercase;
		font-weight: 500;
		font-size: rem(11);
		min-width: rem(160);
		text-align: center;
		display: inline-block;
		letter-spacing: rem(1);
		color: $white;
		overflow: hidden;
		@include noSelect;
		cursor: pointer;
		position: relative;

		&--primary {
			@include defaultGradient;
			&:before {
				content: '';
				height: 100%;
				width: 100%;
				background-color: $white;
				opacity: 0;
				top: 0;
				@include horizontalCenter;
				@include transition(opacity $speed);
			}
			@include breakpoint(landscape) {
				&:hover {
					&:before {
						opacity: 0.1;
					}
				}
			}
		}

		&--secondary {
			border: 1px solid $white;
			background-color: transparent;
			@include transition(background-color $speed);
			@include breakpoint(landscape) {
				&:hover {
					background-color: rgba($white, 0.1);
				}
			}
		}

		&--round {
			border-radius: rem(23);
		}

		&--white {
			@include defaultGradient;
			position: relative;
			border-radius: rem(23);
			z-index: 0;
			span {
				@include defaultGradient;
				@include background-clip(text);
				-webkit-text-fill-color: transparent;
				display: block;
				padding: rem(5) 0;
			}
			&:after {
				content: '';
				@include absoluteCenter;
				background-color: $white;
				z-index: -1;
				border-radius: rem(21);
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				@include transition(opacity $speed);
			}
			@include breakpoint(landscape) {
				&:hover {
					&:after {
						opacity: 0.93;
					}
				}
			}
		}

		&--full {
			min-width: initial;
			width: 100%;
		}
	}
}

// Animated Sections
// -------------------------

.animated {
	opacity: 0;
	@include transform(translateY(rem(30)));
	&.in-view {
		opacity: 1;
		@include transform(translateY(0));
		@include transition(transform 400ms ease, opacity 400ms ease);
	}
	&.still {
		@include transform(none);
	}
}

// Miscellaneous Components
// -------------------------
.down-arrow {
	padding: 0 rem(5) rem(5);
	cursor: pointer;
	opacity: 0.7;
	@include transition(opacity $speed/2 ease);
	span {
		display: inline-block;
		height: rem(15);
		width: rem(15);
		border: solid $white;
		border-width: 0 rem(1.5) rem(1.5) 0;
		@include transform(rotate(45deg));
	}
	&:hover {
		opacity: 1;
	}
}

